.blocks {
  min-height: 100vh;
}
.hashrate
{
  color:blue;
}
hr{
  background-color: #bddee7;
  border: none;
  width: 70%;
  height: 1px;
}

.cruxServ {
  background-color: #f7f7f7;
}
h1 {
  color:rgb(24, 23, 41);
}

.topBlocks {
  background-color:#ddd4d0;

}
